<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenrecipe.main.service.dao.CouponDAO">

<select id="buyerCouponList" resultType="com.greenrecipe.main.vo.CouponVO" >
		select * from coupon where coupon_buyerNum=#{coupon_buyerNum}
	</select>

</mapper>