<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.greenrecipe.main.service.dao.ManagerDAO">


	

	<select id="manager_loginCheck" resultType="com.greenrecipe.main.vo.ManagerVO" >
		select *
		from manager
		where manager_id=#{manager_id} and manager_password=#{manager_password}
		and manager_code=#{manager_code}
	</select>
	
	<select id="manager_codeCheck" resultType="com.greenrecipe.main.vo.ManagerVO" >
		select *
		from manager
		where manager_code=#{manager_code}
	</select>
	
	
	
	<select id="manager_loginForm" resultType="com.greenrecipe.main.vo.ManagerVO" >
		select *
		from manager
		where manager_num=#{manager_num}
	</select>
	
	
 
</mapper>
